{% extends 'todolist/base.html' %}
{% block content %}
<div class='center-column'>
    <h3 class='heading-element' style="text-align: center">Edit task</h3>
    <div class="todo-items">
        <form method="POST" action=''>
            <div style="text-align: center">
                {% csrf_token %}
                {{ form.item_text }}
                <div class="mt-1">Priority {{ form.priority }}</div>
                <div class="mt-1">Completed {{ form.completed }}</div>
            </div>
            <div style="text-align: center">
                <button class='btn btn-successful mt-2' type='submit'>Update</button>
            </div>
        </form>
    </div>
</div>
{% endblock content%}
